[Desktop Entry]
Type=Application
Version=1.0
Name=Root My Galaxy AFZH3
Comment=Executa o payload aberto AFZH3 com logs em tempo real
Exec=/home/matias/Projects/Root-My-Galaxy-SM-S918B/RootMyGalaxyDesktop/start.sh
Path=/home/matias/Projects/Root-My-Galaxy-SM-S918B/RootMyGalaxyDesktop
Icon=android-package-archive
Terminal=false
Categories=Utility;
StartupNotify=true
NoDisplay=false
